<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Jobian Career Website </title>
</head>
<body>
  <h1>Jobian Career Website</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi ipsa corporis sunt explicabo amet, dicta atque ab tempora inventore reprehenderit earum nobis quia enim. Iure in doloribus maxime aperiam quo?
  Quisquam quod porro quos possimus adipisci laboriosam pariatur voluptatum odio eaque nam? Repellat incidunt a adipisci ipsum fugiat dolorem nam doloribus harum, repudiandae, omnis cupiditate libero ea, dolores vero nemo.
  Eveniet autem eos ipsum optio aut reiciendis, maiores enim illum minima, dignissimos nesciunt delectus esse est aliquid odit iusto? Numquam quisquam possimus labore. Voluptates nam dicta commodi nihil veniam. Recusandae?
  Sapiente nostrum id, earum cupiditate beatae at consectetur facilis tempore tenetur est doloremque aut aspernatur magnam, nulla culpa voluptates quas? Saepe suscipit nihil magni itaque beatae, dolor veniam voluptates reprehenderit!
  Necessitatibus minus velit nam esse dolore reprehenderit rerum fugiat nemo! Quasi cumque nihil accusantium odio ipsa officia quos quibusdam consequatur libero eligendi minus sapiente reiciendis ipsam sunt, rerum excepturi voluptatum?
  Ipsam facere hic aspernatur blanditiis ipsa? Aspernatur deleniti repellat qui impedit quisquam necessitatibus aut, ex quibusdam, nemo recusandae quo asperiores. Recusandae nostrum earum distinctio expedita soluta corrupti eius itaque facilis.
  Error, deserunt minima ullam consectetur doloremque, maiores minus magnam dignissimos illum dolorem adipisci ex voluptate consequuntur. Dolorem perspiciatis quisquam cupiditate maxime atque itaque illum, vel at odit labore. Non, totam.
  Quis voluptatem cum saepe laboriosam expedita consequatur. Consectetur, fugit recusandae! Perferendis ea magni rerum ratione quaerat dolores, minima corporis sapiente, tenetur quod officia sequi saepe sint voluptatibus blanditiis! Facere, cumque!
  Et quisquam, ducimus optio repellat nobis ea hic aut molestiae dolorum perferendis magni harum facilis maxime odio nihil reiciendis sint iure rem eveniet! Omnis, minus ad a aperiam architecto reprehenderit?
  Culpa, architecto? Deserunt quod perspiciatis voluptate odio a doloribus non, autem culpa? Ratione eligendi sapiente distinctio nihil adipisci, consequuntur veritatis dolorem ducimus laboriosam sit voluptate neque architecto. Totam, illo expedita.</p>

<img src="/static/baua photo.jpg" alt=" Aadarh photo" height="350" width=250>
  
<h1>Job Openings! 😎</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus nihil saepe quas magni deserunt ducimus perferendis, aliquid corporis architecto sapiente facilis quibusdam necessitatibus nesciunt expedita cupiditate soluta! Commodi, voluptates nemo.
Quas explicabo nihil quam eligendi nulla dignissimos fuga ullam expedita beatae. Fugit debitis voluptatem earum delectus est qui pariatur, odit illum soluta quo aspernatur molestias! Assumenda, voluptas repellat! Rem, ratione!</p>

  <form>
    
  </form>
</body>
</html>